# Backend
backend/vendor/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# IDE
.vscode/
.idea/

# OS
Thumbs.db
mapalotow.code-workspace
start-dev.bat
.DS_Store

# Logs
*.log

# Temporary
*.tmp
*.temp

# Python
__pycache__/
*.pyc
.venv/
venv/

# Database dumps
*.sql
*.dump

# Secrets / certificates
*.key
*.crt
*.pem

_zrodla/

_tools/migracja_mapy_lotow/backup/*
_tools/migracja_mapy_lotow/reports/*
_tools/migracja_mapy_lotow/temp/*
_tools/migracja_mapy_lotow/__pycache__/
_tools/migracja_mapy_lotow/**/*.pyc